<!doctype html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title> Database Interactions - Michael Seehafer </title>
    <link rel = "stylesheet" href = "/css/style.css" type = "text/css">
  </head>
  <body>
	{{{body}}}
  <script src = "/js/script.js"> </script>
</body>
</html>
